// Body and main layout
html, body {
    background: black;
    min-height: 100vh;
}

body {
    background: radial-gradient(circle, var(--dark-color) 0%, black 100%);
    animation: fade-up 0.5s ease-in-out;
}

article {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
}

.marble-maker-container {
    width: 100vw;
    height: 100vh;
}  


// custom dat.gui
.dg {
    font-family: var(--font-primary)!important;
    font-size: 13px!important;
    color: white!important;
    box-shadow: 0 1rem 2rem var(--softer-dark)!important;
}

.dg li.title {
    background-color: var(--dark-color)!important;
}

.dg li:not(.folder) {
    background-color: var(--dark-color)!important;
}

.close-button {
    display: flex!important;
    align-items: center!important;
    justify-content: center!important;
    height: 2rem!important;
    border-bottom-left-radius: 1rem!important;
    border-bottom-right-radius: 1rem!important;
    font-weight: 700!important;
}




  
