// Typography
body {
    font-family: var(--font-primary);
    font-size: 16px;
    color: white;
    font-weight: 400;
}

a {
    transition: all 0.2s ease-in-out;
    color: white;
    text-decoration: none;
    font-weight: 700;

    &:hover,
    &:focus,
    &:active {
        color: var(--primary-color);
    }
}