// Fonts
@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400..900&family=Zen+Dots&display=swap');

// Color variables
:root {
    --primary-color: #5b84ff;
    --secondary-color: #ff5ba5;
    --light-color: #b2c0e7;
    --dark-color: #191f2e;
    --soft-light: rgba(255, 255, 255, 0.8);
    --softer-light: rgba(255, 255, 255, 0.4);
    --soft-dark: rgba(0, 0, 0, 0.8);
    --softer-dark: rgba(0, 0, 0, 0.4);
    --line-color: var(--primary-color);

    --font-primary: 'Gabarito', sans-serif;
    --font-secondary: 'Zen Dots', sans-serif;
    --font-mono: monospace;
    --container-width: 440px;
} 