// Body and main layout
html, body {
    background: black;
    min-height: 100vh;
}

body {
    font-family: var(--font-family);
    font-size: 16px;
    color: white;
    font-weight: 400;
    background: radial-gradient(circle, #222 0%, black 100%);
}

article {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
}

// Typography
a {
    transition: all var(--transition-speed) var(--transition-timing);
    color: white;
    text-decoration: none;
    font-weight: 700;

    &:hover,
    &:focus,
    &:active {
        color: var(--primary-color);
    }
}

.marble-maker-container {
    width: 100vw;
    height: 100vh;
}  




  
